@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --cor1: #495073;
    --cor2: #3E3455;
    --corfundo: #ffffff8f;
    --corfundo2: #7DA152;
    --tamanho: 16px;
}

body {
    background-color: var(--corfundo2);
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

header {
    margin: 0px auto;
    padding: 10px 0px;
    color: white;
    background: var(--cor1) url('../imagem/vinhas.m.jpg') center center no-repeat scroll;
    background-size: cover;
    height: 270px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
    display: flex;
    justify-content: flex-start;
}

header h1 {
    font-size: 45px;
    padding: 10px 50px 10px 10px;
    display: flex;
    margin: 50px 10px;
    color: var(--cor2);
    background-image: linear-gradient(to right, var(--corfundo), transparent);
    height: fit-content;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.253);
}

nav {
    padding: 5px;
    margin: 0px auto ;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    display: block;
    height: fit-content;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.199);
}

nav h1{
    color: white;
    display: inline-flex;
    text-align: center;
    margin: auto;
    align-content: center;
    padding-left: 1em;
}

main {
    background-color: white;
    padding: 15px;
    margin: 0px auto;
    max-width: 1000px;
    box-shadow: 0px 2px 5px black;
}

h2.top {
    text-align: center;
    text-decoration: underline;
}

h2 {
    background-image: linear-gradient(to right, var(--cor2), transparent);
    padding: 5px 0px 5px 10px;
    color: white;
    padding-left: 20px;
}

h1, h2 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.185);
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.2em;
    text-indent: 10px;
    letter-spacing: 1px;
    font-size: var(--tamanho);
}

main a {
    color: var(--cor2);
    text-decoration: none;
    font-weight: bold;
}

main ul {
    list-style-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
}

main ul a {
    font-weight: normal;
    color: black;
    text-decoration: underline;
    transition: all 300ms ease-in-out;
}

main ul a:hover {
    font-weight: bold;
}

section {
    margin: 40px 0px;
}

div#lista {
    margin: -3px auto 0px auto;
    text-align: left;
    background-image: linear-gradient(to top, var(--cor1), var(--cor2));
    height: 0;
    transition: all 500ms ease-in-out;
    opacity: 0;
    overflow: hidden;
    display: block;
    position: absolute;
    border-radius: 0px 0px 7.5px 7.5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.233);
    top: 58px;
    left: 0;
}

div.foto {
    margin: auto;
    max-width: 750px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.322);
}

div.cultivo {
    background: var(--cor1) url('../imagem/campo.jpg') center center no-repeat scroll;
    background-size: cover;
}

div.plantio {
    background: var(--cor1) url('../imagem/plantio.uva.jpg') center center no-repeat scroll;
    background-size: cover;
}

div.clima {
    background: var(--cor1) url('../imagem/solo.jpg') center center no-repeat scroll;
    background-size: cover;
}

div.doenca {
    background: var(--cor1) url('../imagem/praga.jpg') center center no-repeat scroll;
    background-size: cover;
}

div.comercio {
    background: var(--cor1) url('../imagem/comercio.jpg') center center no-repeat scroll;
    background-size: cover;
}

main label {
    font-weight: bold;
    padding: 5px;
    border: 1.75px solid var(--cor2);
}

main input.btn {
    background-color: var(--cor1);
    color: white;
    cursor: pointer;
    margin: 3px;
    transition: all 300ms ease-in-out;
}

input.btn:hover {
    font-weight: bold;
    background-color: var(--cor2);
}

legend {
    font-size: 10px;
    text-align: center;
    margin: auto;
    display: inline;
}

abbr {
    text-decoration: none;
}

input#botao {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 25px;
    padding: 6px;
    position: relative;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 4px;
}

#botao:hover {
    background-color: var(--corfundo2);
}

nav ul {
    text-align: left;
    padding: 10px;
    list-style: none;
}

nav li {
    list-style-position: inside;
    padding: 15px 5px;
    margin: 5px;
    color: white;
}

nav ul a {
    color: white;
    text-decoration: none;
    height: fit-content;
    transition: all 300ms ease-in-out;
}

nav ul a:hover, main a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    color: white;
    text-align: center;
    padding: 10px;
}

@media (orientation: portrait) {
    div#lista {
        width: 44%;
    }

    legend {
        font-size: 6.5px;
    }
}

@media (min-width: 650px) {
    input#botao {
        font-size: 27px;
    }

    li {
        font-size: 20px;
    }

    header h1 {
        font-size: 55px;
    }

    div#lista {
        top: 295px;
        top: 61px
    }
}

@media (min-width: 722px) {
    header h1 {
        margin-left: 100px;
    }

    nav {
        position: relative;
        top: 0;
    }
} 

@media (min-width: 900px) {
    header {
        background: purple url('../imagem/vinhas.g.jpg') bottom bottom no-repeat scroll;
        background-size: cover;
    }
}